@page "/demo01"
@rendermode InteractiveServer
@inject IUserService userServices

<input type="text" placeholder="Username"@bind="userName"/><br/>
<input type="text" placeholder="Email" @bind="email"/><br/>
<button @onclick="AddUser">Submit</button><br />
@if(userServices.GetUser().Count()==0)
{
	<b>No user to display!!!</b>
}
else
{
	@foreach(var item in userServices.GetUser())
	{
		<p><b>Username :</b>@item.UserName</p>
		<p><b>Email :</b>@item.Email</p>
		<br />
	}
}
@code 
{
	private string userName,email;

	private void AddUser()
	{
		var user = new User() {
				UserName = userName,
				Email = email
			};
		userServices.AddUser(user);
	}
}
