@inject IJSRuntime js
<input type="checkbox" @bind="DisplayEmail" /><label>Display Email</label>
@if(users is null)
{
	@NullUser
}
else if(users.Count==0)
{
	@EmptyUser
}
else
{
	foreach(var item in users)
	{
		<UserInfoComponent user="item" DisplayEmail="@DisplayEmail" DeleteCurrentUser="@DeleteUser"></UserInfoComponent>
	}
}

@code {
	private bool DisplayEmail = true;
	[Parameter]
	public RenderFragment NullUser{ get; set; }
	[Parameter]
	public RenderFragment EmptyUser{ get; set; }
	[Parameter]
	public List<User> users { get; set; }

	private async Task DeleteUser(User user)
	{
		var confirm=await js.InvokeAsync<bool>("confirm", $"Do you want to delete {user.UserName} with email {user.Email}?");
		if(confirm)
		{
			users.Remove(user);
		}
	}
}
